[Unit]
Description=Container Launch

[Install]
WantedBy=multi-user.target

[Service]
ExecStartPre=/usr/local/bin/pre-start
ExecStart=/usr/local/bin/start
ExecStartPost=/usr/local/bin/post-start

ExecStop=/usr/local/bin/stop
ExecStopPost=/usr/local/bin/post-stop

